# Colecciones en Python

## Listas

Una lista es una colección ordenada de valores, puede contener distintos tipos​

Una lista es mutable​

Crear una lista literal, con los valores entre corchetes:​

In [11]:
primos = [2, 3, 5, 7, 11]
print(primos)

otraLista= ['hola ' + 'mundo', 24 * 7, True or False]
print("Otra lista:", otraLista)

[2, 3, 5, 7, 11]
Otra lista: ['hola mundo', 168, True]

Tambien se crea una lista con la funcion list()

In [4]:
list("hola")

['h', 'o', 'l', 'a']

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list()

[]

Operaciones sobre listas

In [7]:
len(primos)

5

In [8]:
primos[3]

7

In [12]:
primos.append(13)
primos

[2, 3, 5, 7, 11, 13]

In [13]:
sum(primos)

41

In [14]:
primos2 = [15, 17]
primos + primos2

[2, 3, 5, 7, 11, 13, 15, 17]

Si + concatena, *n concatena n veces

In [16]:
muchosPrimos = primos * 3 
muchosPrimos

[2, 3, 5, 7, 11, 13, 2, 3, 5, 7, 11, 13, 2, 3, 5, 7, 11, 13]

Para saber si un elemento está en la lista usamos in

In [17]:
5 in primos

True

In [18]:
10 in primos

False

In [19]:
10 not in primos

True

Tenemos un operador de rebanado

In [20]:
primos[1:3]  #desde 1 hasta < 3

[3, 5]

In [22]:
muchosPrimos.count(13) #cuantos 13 hay?

3

In [23]:
#index te dice la (primera) posición
muchosPrimos.index(3)

1

In [24]:
primos.index(7)

3

In [25]:
#podemos borrar un elemento
primos

[2, 3, 5, 7, 11, 13]

In [26]:
primos.remove(13)
primos

[2, 3, 5, 7, 11]

tambien podemos usar del

In [27]:
del primos[3]
primos

[2, 3, 5, 11]

In [31]:
#¿qué hace reverse?
primos.reverse()
primos

[2, 3, 5, 11]

In [32]:
ordenados = [4, 1, 3, 19, 42, 3, 3, 2, 0]
ordenados.sort()
ordenados

[0, 1, 2, 3, 3, 3, 4, 19, 42]

In [34]:
ordenados1 = [4, 1, 3, 19, 42, 3, 3, 2, 0]
ordenados.sort(reverse = True)
ordenados

[42, 19, 4, 3, 3, 3, 2, 1, 0]

In [36]:
def numLetters(e):
  return len(e)

animals = ['Perro', 'Gato', 'BMW', 'VW']

animals.sort(key = numLetters)
animals

['VW', 'BMW', 'Gato', 'Perro']

### en resumen
+ append()	Adds an element at the end of the list
+ clear()	Removes all the elements from the list
+ copy()	Returns a copy of the list
+ count()	Returns the number of elements with the specified value
+ extend()	Add the elements of a list (or any iterable), to the end of the current list
+ index()	Returns the index of the first element with the specified value
+ insert()	Adds an element at the specified position
+ pop()	Removes the element at the specified position
+ remove()	Removes the first item with the specified value
+ reverse()	Reverses the order of the list
+ sort()	Sorts the list

### Iteración

In [38]:
numbers = list(range(10))
for number in numbers:
    print( number ** 2)

0
1
4
9
16
25
36
49
64
81

## Tuplas

Una tupla es una secuencia de valores agrupados​

varios valores que, por su naturaleza, deben ir juntos.​

El tipo de datos que representa a las tuplas se llama tuple. ​

El tipo tuple es inmutable: una tupla no puede ser modificada una vez que ha sido creada.​

Una tupla puede contener otra tupla​

Una tupla puede ser creada poniendo los valores separados por comas y entre paréntesis. Por ejemplo, podemos crear una tupla que tenga el nombre y el apellido de una persona:​

In [39]:
profesora = ("Zobeida", "Guzman")
profesora

('Zobeida', 'Guzman')

In [40]:
#y desempaquetamos la tupla
nombre, apellido = profesora
nombre

'Zobeida'

### Asignación en tuplas

In [41]:
def distanciaEuclideana (p1, p2):
    x1, y1 = p1
    x2, y2 = p2
    dx = x2 - x1
    dy = y2 - y1
    return (dx ** 2 + dy ** 2) ** 0.5

a = (2, 3)
b = (7, 9) 
distanciaEuclideana(a,b)

7.810249675906654

### Comparación con tuplas

In [43]:
hoy = (13, 6, 2022)
ayer = (12, 6, 2022)
navidad = (25, 12, 2022)
anioNuevo = (1, 1, 2023)

hoy < ayer

False

In [44]:
hoy < navidad

True

In [45]:
#se pueden iterar
for valor in (6,2):
    print(valor ** 2)

36
4

In [46]:
# Se pueden convertir en otro elemento iterable
a = (1, 2, 3)
b = [4, 5, 6]
list(a)

[1, 2, 3]

In [47]:
tuple(b)

(4, 5, 6)

## Diccionarios
Un diccionario es un tipo de datos que sirve para asociar pares de objetos.​

Un diccionario puede ser visto como una colección de llaves, cada una de las cuales tiene asociada un valor. Las llaves no están ordenadas y no hay llaves repetidas. La única manera de acceder a un valor es a través de su llave.​

Los diccionarios literales se crean usando llaves ({ y }). La llave y el valor van separados por dos puntos:​

Los índices son las claves (key)

In [48]:
telefonos = {'Pepito': 5552437, 'Jaimito': 5551428, 'Yayita': 5550012}

In [49]:
telefonos['Pepito']

5552437

In [50]:
telefonos['Jaimito']

5551428

In [52]:
# para borrar una clave
del telefonos['Pepito']
telefonos

{'Jaimito': 5551428, 'Yayita': 5550012}

In [55]:
#iteración

for key in telefonos:
    print(key)
    print(telefonos[key])

Jaimito
5551428
Yayita
5550012

In [57]:
'Jaimito' in telefonos

True

In [58]:
'Pepito' not in telefonos

True

## Conjuntos
Un conjunto es una colección desordenada de valores no repetidos.​

Los conjuntos de Python son análogos a los conjuntos matemáticos. ​

El tipo de datos que representa a los conjuntos se llama set.​

El tipo set es mutable: una vez que se ha creado un conjunto, puede ser modificado.

Operaciones:
+ len para saber el número de elementos ​

+ Se pueden iterar con for…in​

+ in  permite saber si una clave está en el diccionario​

+ not in para saber si no está​

+ s.add(x) agrega el elemento x al conjunto s​

+ s.remove(x) elimina el elemento x del conjunto s​

+ & y | son, respectivamente, los operadores de intersección y union​

+ s - t entrega la diferencia entre s y t; es decir, los elementos de s que no están en t​

+ s ^ t entrega la diferencia simétrica entre s y t; es decir, los elementos que están en s o en t, pero no en ambos​

+ El operador < aplicado sobre conjuntos significa «es subconjunto de»​

+ s <= t también indica si s es subconjunto de t. La distinción ocurre cuando los conjuntos son iguales

In [60]:
setA = {1,2,3}
setB = {3,4,5}
setB

{3, 4, 5}

In [61]:
len(setA)

3

In [62]:
3 in setB

True

In [63]:
4 not in setA

True

In [64]:
setA.add(7)
setA

{1, 2, 3, 7}

In [65]:
setA.remove(7)
setA

{1, 2, 3}

In [66]:
setA & setB

{3}

In [67]:
setA | setB

{1, 2, 3, 4, 5}

In [68]:
setB - setA

{4, 5}

In [69]:
setA ^ setB

{1, 2, 4, 5}

In [70]:
setC = {3}
setC < setA

True

In [71]:
setA < setA

False

In [72]:
setA <= setA

True